{% extends "global/base.html" %}

{% block content %}

<h1>Alterar Senha</h1>
<form method="post">
{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert" id="messages" style="margin-Top:20px;">
                <p>{{ message }}</p>
            </div>
        {% elif  message.tags == "error" %}
            <div class="alert alert-danger" role="alert" id="messages" style="margin-top:20px;">
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock content %}