{% extends "global/base.html" %}

{% block title %}Sobre Nós - Federick Crawler{% endblock %}

{% block content %}
<div class="container mt-5 shadow-container">
    <h1>Sobre Nós</h1>
    <p>Bem-vindo à página Sobre Nós do Federick Crawler. Aqui você pode encontrar mais informações sobre nossa empresa e nossos serviços.</p>

    <h2>Missão</h2>
    <p>Nossa missão é fornecer uma ferramenta de rastreamento de dados eficiente e confiável para ajudar nossos clientes a tomarem decisões informadas.</p>

    <h2>Valores</h2>
    <ul>
        <li>Integridade</li>
        <li>Inovação</li>
        <li>Excelência</li>
        <li>Comprometimento</li>
    </ul>

    <h2>Estratégias</h2>
    <p>Nossas estratégias incluem a constante melhoria de nossos serviços, investimento em tecnologia de ponta e foco no atendimento ao cliente.</p>
</div>
{% endblock %}